{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "exclude": [
    "**/*.spec.ts",
    "**/*.d.ts",
    "**/*.spec.js",
    "coverage",
    ".eslintrc.js",
    ".eslintrc",
    "tests",
    "test",
    "test_utils"
  ]
}
